.search-bar {
    font-family: FontAwesome;
    color: darkmagenta;
}

.articles {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}